@import "../../../styles.scss";

.tops-board {
  display: flex;
  height: 100%;
  @include themepluck(color, foreground, text, 0%);
}

.title {
  font-size: 32px;
  padding: 20px;
  font-family: "Kiwi Maru", serif;
  @include theme(color, primary);
}
img#gopher {
  width: 100%;
}
.sidenav {
  max-width: 200px;
  height: 100%;
  width: 25%;

  // sometimes I like this, sometimes I don't...
  button {
    width: 100%;
    text-align: left;
    border-radius: 0px;
  }
}

.stage {
  display: inline-flex;
  flex: 1;
  height: 100%;
  padding: 10px 0;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  .inner {
    width: 100%;
    height: 100%;
    display: inline-block;
    @include thememap(background-color, background, 5%);
  }
}

// cheat....
#spinner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.square {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

mat-card {
  max-width: 400px;
}

.teamrow {
  min-height: 120px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  @include thememap(background-color, background, 15%);
}

.teamrow:nth-child(odd) {
  margin-top: 5px;
  margin-bottom: 5px;

  @include thememap(background-color, background, 5%);
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  // TODO: typography
  font-size: 10px;
  @include themepluck(color, foreground, text, 0%);
}

table {
  width: 100%;
  @include themepluck(color, foreground, text, 0%);
}

.parts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20%;
}

.part {
  width: 20%;
  z-index: 2;
}

.part.teams {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .inner {
    background: inherit;
  }
}
