@import "../../../styles.scss";

.project-row {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  @include themepluck(color, foreground, text, 0%);
}

.row {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.row:nth-child(odd) {
  margin-top: 5px;
  margin-bottom: 5px;
}
